*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container {
    width: 15rem;
    height: 15rem;
    background-color: rgb(156, 152, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

